<!DOCTYPE html>
<html>

<head>
    <title>Vue 组件相关</title>
    <script src="./vue.js"></script>
    <style>
        .bg {
        width: 100vh;
        height: 300px;
        font-size: 30px;
        /* 样式动态变化  平滑*/
        transition: 0.1s background-color ease;
    }

    .title {
        font-weight: bold;
    }
    .post-img{
        width: 20px;
        height: 20px;
    }
    .child5,.child6{
        border:1px solid #000;
    }
    </style>
</head>

<body>
    <!-- 
        https://css-tricks.com/intro-to-vue-2-components-props-slots/
     -->
    <div id="app">
        <p class="title">
            组件(复用)
        </p>
        <child :text="message"></child>
        <child :text="message2"></child>
        <p class="title">
            带参数校验的 组件,校验失败会有提示
        </p>
        <child2 :text="message" :type="childType"></child2>
        <p class="title">
            组件自带 默认值
        </p>
        <child3></child3>
        <p class="title">
            模板文字来绑定,使用 is
        </p>
        <!-- 这里 标签可以不一致, 渲染结果以组件的为准-->
        <div is="child4" v-for="item in message4" :text="item">
        </div>
        <p class="title">
            使用 id 引用来创建一个组件
        </p>
        <ul>
            <li class="child5" is="child5" v-for="item in items" :item="item">
            </li>
        </ul>
        <p class="title">
            组件插槽 slot
        </p>
        <p>
            在组件中我们想要一些相同的内容和不同观点内容,对于相同的内容使用p标签,对于我们想要切换的内容,放置 slot 标签
        </p>
        <child6 class="child6">
            手动输入的插槽内容
        </child6>
        <child6 class="child6"></child6>
    </div>
    <script type="text/x-template" id="child6">
        <div>
                <slot>默认的插槽内容</slot>
                <p>Ites is a veritable(名副其实的) slot machine!<br> Ha ha aw</p>
        </div>
    </script>
    <script type="text/x-template" id="child5">
        <li>
                <img class="post-img" :src="item.imgSrc"/>
                <small>{{ item.author }}</small>
                <p class="post-comment">{{ item.text }}</p>
        </li>
    </script>
    <script>
    new Vue({
        el: '#app',
        data() {
            return {
                message: 'hello component, 我是组件传参',
                message2: 'hello componet, 我是组件2',
                childType: 1,
                message3: '',
                message4: [1, 2, 3, 4],
                items: [{
                        imgSrc: './images/icon.png',
                        author: 'author',
                        text: 'text'
                    },
                    {
                        imgSrc: './images/icon.png',
                        author: 'author',
                        text: 'text'
                    },
                    {
                        imgSrc: './images/icon.png',
                        author: 'author',
                        text: 'text'
                    }
                ]
            }
        },
        components: {
            child: {
                template: `<div>{{ text }}</div>`,
                props: ['text']
            },
            child2: {
                template: `<div>{{ text }}-{{ type }}</div>`,
                props: {
                    // 添加校验
                    text: {
                        type: String,
                        required: true
                    },
                    type: {
                        type: Number,
                        require: true
                    }
                }
            },
            child3: {
                template: `<div>{{ text }} </div>`,
                props: {
                    text: {
                        type: String,
                        default: '-default value 100'
                    }
                }
            },
            child4: {
                template: `<li>{{ text }}</li>`,
                props: ['text'],
            },
            child5: {
                template: '#child5',
                props: ['item']
            },
            child6: {
                template: '#child6'
            }
        }
    })
    </script>
</body>

</html>